* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif !important;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(252, 252, 253);
}

button {
  text-transform: capitalize !important;
}

.content-logo {
  width: 144px;
  height: 144px;
  margin-top: -52px;
}

.spinner {
  margin: auto;
  display: block;
}
